.banner {
    padding: 1rem 2rem;
    background: #eee;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ff3e00;
}

main a {
    color: #ff3e00;
}

main a:hover {
    font-weight: bold;
}

article h1 {
    color: #ff3e00;
}

code {
    color: #A22700;
    // https://meyerweb.com/eric/tools/color-blend
    // #ff3e00 + #000000 / Midpoints 10 / 5th
}
